{%extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            {% for i in posts %}
                <div class="card" style="width: 28rem;">
                    <div class="card-header"><i class="fas fa-user-circle"></i><span><h5 class="d-inline">{{ i.user }}</h5></span> </div>
                    <img src="{{i.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div>
                        <a  href="/"> <i class="far fa-heart"></i></a>
                        <a href="/"><i class="far fa-comment"></i></a>
                        </i> <a href="/"><i class="far fa-paper-plane"></i></a>
                        </div>
                        <div>
                            <h6>{{i.user}}</h6>
                            <p>{{i.caption}}</p>
                        </div>
                    
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-2"></div>

    </div>
    
</div>

{%endblock%}